<!-- Membership home page --> 
<div class="banner">
  <img src="<%= asset_path( 'header_groups.jpg' ) %>" />
</div>
<h1>Members</h1>

<table class="table">
  <thead>
    <tr>
      <th>Member Email</th>
      <th>Group</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>

    <!-- If user signed is member of group, show member emails, group name --> 
    <% if Group.find(params[:group_id]).id == membership.group_id %>
      <tr>
        <td><%= User.find(membership.user_id).email %></td>
        <td><%= Group.find(membership.group_id).name %></td>
        <td> <%= link_to 'Remove Member', membership, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-danger" %><br></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', groups_path, :class => "btn btn-default" %>