<!-- Groups main page -->

<div class="banner">
  <img src="<%= asset_path( 'header_groups.jpg' ) %>" />
</div>

<!-- Check for admin user signed in for display options --> 
<% if !current_user.try(:admin?) %>
<h1>Groups</h1>
<% else %>
<h1>Manage Groups</h1>
<% end %>

<!-- Table listing of group names, Owners, Num of Members, Class name and actions available depending on user signed in -->
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Number of Members</th>
      <th>Class</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
    <!-- If User signed is not an admin but is part of the group, show only group name, email and and member --> 
    	<% if user_signed_in? and !current_user.try(:admin?) %>
          <% for i in 0...group.membership_ids.length %>
            <% if  current_user.membership_ids.include? group.membership_ids[i] %>
              <tr>
                <td><%= group.name %></td>
                <td><%= group.email %></td>
                <td><%= group.membership_ids.length %></td>
                <td><%= Course.find(group.course_id).name %></td>
                <td><%= link_to 'Show', group, :class => "btn btn-default" %><br>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      
    <% end %>

    <!-- If user signed in is admin and owner of group, show each group name, email, member IDs, and link to detail of each group -->
    <% if current_user.try(:admin?) %>
      <% @groups.each do |group| %>
      <tr><% if user_signed_in? %>
            <% if current_user.email == group.email %>
              <td><%= group.name %></td>
              <td><%= group.email %></td>
              <td><%= group.membership_ids.length %></td>
              <td><%= Course.find(group.course_id).name %></td>
              <td><%= link_to 'Show', memberships_path(:group_id => group.id), :class => "btn btn-default" %>

                <!-- Check if all evals previously sent out are completed --> 
                  <% evalsFinished = true %>
                  <% for i in 0...group.eval_ids.length %>
                      <% if Eval.find(group.eval_ids[i]).attempt == false %>
                        <% evalsFinished = false %>
                      <% end %>
                  <% end %>

                  <!-- Show option to send evals to students group if all other evals sent out have been completed only -->
                  <% if group.eval_ids.empty? || evalsFinished %>
                  <% if group.membership_ids.length > 1 %>
                    <%= link_to 'Send Evaluations to Students', page_evals_created_path(:group_id => group.id), data: { confirm: 'Are you sure you want to open evaluations for ' + group.name + '?'}, :class => "btn btn-default" %><br>
                  <% end %>
                  <% end %>

                  <!-- Show buttons to add new members to groups -->
                  <%= link_to 'Add Member', new_membership_path(:group_id => group.id), :class => "btn btn-primary" %>

                  <!-- Show evaluation results if any exist -->
                  <% resultsExist = false %>
                  <% for i in 0...group.eval_ids.length %>
                    <% if Eval.find(group.eval_ids[i]).attempt == true %>
                      <% resultsExist = true %>
                    <% end %>
                  <% end %>

                  <!-- Show option to see evaluation results if they exist --> 
                  <% if resultsExist %>
                    <%= link_to 'Results', results_path(:group_id => group.id), :class => "btn btn-primary" %>
                  <% end %>

                  <!-- Option to delete group --> 
                  <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure you want to delete ' + group.name + '?'}, :class => "btn btn-danger" %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>
