
<!-- Show Details of a group --> 
<div class="banner">
  <img src="<%= asset_path( 'header_groups.jpg' ) %>" />
</div>
<% if current_user.try(:admin?) %>
	<% @group.update_attribute :email, current_user.email %>
<% end %>

<h1><%= @group.name %></h1>

<!-- Show current owner of a group if user signed in is not owner --> 
<% if !current_user.try(:admin?) %>
  	<h2><strong>Owner: </strong> <%= @group.email %></h2>
<% end %>

<!--Show members of a group --> 
	<h2><strong>Members:</strong></h2>
	<% if @group.membership_ids.length == 0 %>
		<%= "There are currently no members in this group" %>
	<% else %>
		<% for i in 0...@group.membership_ids.length %>
			<strong><%= User.find(Membership.find(@group.membership_ids[i]).user_id).email %></strong><br>
		<% end %>
	<% end %><br>

<br>

<!-- Option to add member to group if admin --> 
<% if current_user.try(:admin?) %>
	<%= link_to 'Add Member', new_membership_path(:group_id => @group.id), :class => "btn btn-primary" %>
<% end %>
<%= link_to 'Back', groups_path, :class => "btn btn-default" %>
<br><br>
